body {
    padding: 0 auto;
    font-family: 'Poppins', sans-serif;
    margin: 2% 4%;
}

/* Header */

header {
    padding: 1% 2% 1% 8%;
    display: flex;
}

.heading-title {
    font-family: 'PT Serif', serif;
    font-weight: 900;
    margin-right: 18rem;
}

.heading-description {
    text-align: left;
    max-width: 380px;
}

.heading-description> h3 {
    font-weight: 900;
}

/* Directory */

#directory {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align: center;
    height: 1200px;
    align-items: flex-start;
    margin: 6%;
}

.team-member {
    height: fit-content;
    width: 290px;
    margin: 2%;
    flex-basis: 25%;

}

.img-and-position {
    height: inherit;
    position: relative;
    display: grid;
}

.profile-img {
    width: 230px;
    height: 330px;
}

.position {
    transform: rotate(90deg);
    width: 200px;
    height: 20px;
    position: absolute;
    margin: 0;
    left:150px;
    top: 30px;
    font-family: 'PT Serif';
    font-size: 15px;
    font-weight: 300;
}

.name {
    text-align: left;
}

/* Individual Member Profiles */

.Saba {
    align-self: flex-end;
}

.Saba .position {
   top: 40px; 
}

.Griff {
    align-self: flex-end;
}

.Bill .position {
    top: 50px;
}

.Skylah .position {
    top: 40px;
}

/* Footer */

footer {
    margin-top: 40px;
}

.credits {
    text-align: center;
    color: #A9A9A9;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.portfolio-link {
    font-weight: 700;
}

.dev-icon {
    width: 15px;
}

a {
    color: #A9A9A9;
}

.devchallenges {
    font-weight: 400;
    text-decoration: none;
}



/* Responsive CSS */
@media (max-width:500px) {
    .heading-title {
        margin: 7% 0;
    }

    #directory {
        margin: 2%;
    }
    .profile-img {
        width: 130px;
        height: auto;
    }

    .position {
        left: 45px;
        top: 40px;
    }
    
    .name {
        text-align: left;
        width: max-content;
    }

    header {
        padding: 2%;
        display: block;
    }

    .team-member {
        flex-basis: 30%;
        margin: 5% 13% 5% 0;
    }

    .Shae .position {
        top: 30px;
    }

    .Skylah {
        align-self: flex-end;
    }

    .Griff {
        align-self: flex-start;
    }

    .Griff .position {
        top: 30px;
    }

    .Stan {
        align-self:flex-end;
    }

    .Stan .position {
        top: 30px;
    }
}

@media (min-width:501px) and (max-width:800px) {
    .heading-title {
        margin-right: 5rem;
    }

    .profile-img {
        width: 160px;
        height: 232px;
    }

    .position {
        left: 70px;
        top: 40px;
    }

    .team-member {
        margin: 4%;
    }

    #directory {
        justify-content: space-between;
    }

    .Shae .position {
        top: 30px;
    }

    .Skylah {
        align-self: flex-end;
    }

    .Griff {
        align-self: flex-start;
    }

    .Griff .position {
        top: 30px;
    }

    .Stan {
        align-self: flex-end;
    }

    .Stan .position {
        top: 30px;
    }
}

@media (min-width:801px) and (max-width:990px) {
    .profile-img {
        width: 180px;
        height: auto;
    }

    .position {
        left: 90px;
        top: 40px;
    }

    .Shae .position {
        top: 30px;
    }

    .Stan .position {
        top: 30px;
    }

    .Griff .position {
        top: 30px;
    }
}